.answer-card {
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.answer-card:hover {
  transform: scale(0.9);
  box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.1);
}

#progressBar {
  width: 15rem;
  height: 2rem;
  border: 0.15rem solid var(--bs-secondary);
  margin-top: 1.5rem;
  border-radius: 5px;
}

#progressBarFull {
  height: 1.7rem;
  background-color: var(--bs-primary);
  width: 0%;
}