.match-card {
  cursor: pointer;
  border-radius: 5px;
  transition: transform .3s ease-in-out;
}

.match-card:hover {
  transform: scale(0.9);
}

.match-card.flipped {
  cursor: pointer;
  border: 3px solid var(--bs-primary);
}

.sound-card {
  cursor: pointer;
}

