.card .card-body:has(.hijaiyah-memory-img) {
  cursor: not-allowed;
}

.hijaiyah-memory-img {
  opacity: 1;
  transition: all .3s ease-in-out;
}

.hijaiyah-memory-img.flipped {
  cursor: pointer;
  opacity: 0;
  user-drag: none;
  -webkit-user-drag: none;
}

#overlay {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

#overlay-text {
  color: var(--bs-primary);
  font-size: 4rem;
}

